# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'basico.com - email':
        'Add Email Header': 'atom-basico-package:email-add-header'
        'Add Email Footer': 'atom-basico-package:email-add-footer'
